.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
crash.log
crash.*.tfstate
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!terraform.tfvars.example
backend.hcl
!backend.hcl.example
.terraformrc
terraform.rc
